<div data-test-task-card class='task-card {{this.taskStyleClass}}' tabindex='0'>
  <Task-Details
    @task={{@task}}
    @disabled={{@disabled}}
    @onTaskUpdate={{this.onUpdate}}
    @onPercentageChange={{this.onPercentageChange}}
    @percentCompleted={{this.percentCompleted}}
    @progressBarClass={{this.progressBarClass}}
    @isProgressBarDisabled={{this.isProgressBarDisabled}}
    @onInputChange={{this.progressBarInputChange}}
    @dev={{@dev}}
  />

  <div class='task-card__status-update-container'>

    {{#if this.extensionFormOpened}}
      {{#if @dev}}
        <Task::MultipleExtensionForm
          @task={{@task}}
          @closeForm={{this.closeExtensionForm}}
          @title='Extension Details'
          @closeModel={{this.closeExtensionModel}}
        />
      {{else}}
        <Task::ExtensionForm
          @task={{@task}}
          @closeForm={{this.closeExtensionForm}}
          @title='Form for extension Request'
          @closeModel={{this.closeExtensionModel}}
        />
      {{/if}}
    {{/if}}

    {{#if (not-eq this.status this.TASK_KEYS.VERIFIED)}}
      <div class='task-update-container'>
        <label id='task-update-label' for='task-update'><b>Status:</b></label>
        <select
          data-test-task-status-select
          id='task-update'
          {{on 'change' this.onStatusChange}}
        >
          {{#each this.taskStatusList as |taskStatus|}}
            <option
              data-test-dropdown-option={{taskStatus.displayLabel}}
              value={{taskStatus.key}}
              selected={{eq taskStatus.key this.status}}
            >
              {{taskStatus.displayLabel}}
            </option>
          {{/each}}
        </select>
      </div>
    {{/if}}

    <button
      class='task-card__extensionForm-button'
      data-test-task-extensionForm-button
      type='button'
      {{on 'click' this.toggleExtensionForm}}
    >Extension Status</button>

    {{#if this.isLoading}}
      <div data-test-task-spinner class='task-card__loader-container'>
        <Spinner />
      </div>
    {{/if}}
  </div>
</div>