<div class='latest-extension-info__content' data-test-extension-info-content>
  <table>
    <tbody>
      <tr>
        <th>Request : </th>
        <td>{{#if (eq this.extension.requestNumber undefined)}}
           #1
          {{else}}
           #{{this.extension.requestNumber}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <th>Reason : </th>
        <td>{{this.extension.reason}}</td>
      </tr>
      <tr>
        <th>Title : </th>
        <td>{{this.extension.title}}</td>
      </tr>
      <tr>
        <th>Old Ends On : </th>
        <td>{{this.oldEndsOn}}</td>
      </tr>
      <tr>
        <th>New Ends On : </th>
        <td>{{this.newEndsOn}}</td>
      </tr>
      <tr>
        <th>Status : </th>
        <td>{{this.extension.status}}</td>
      </tr>
    </tbody>
  </table>
</div>