<div class='extension-form__container-parent'>
  <div
    role='button'
    class='extension-form__container-back'
    data-test-extension-form-container-back
    {{on 'click' @closeModel}}
  >
  </div>
  <div class='extension-form__container-main'>
    <h2 data-test-title>{{@title}}</h2>
    {{#if this.createExtensionRequest}}
      <div class='extension-form__content' data-test-extension-from-content>
        <h3>Create Extension Request!!!</h3>
        <form {{on 'submit' this.submitExtensionRequest}}>
          {{#if this.createExtensionRequestError}}
            <h4 data-test-extension-from-error>Error:
              {{this.createExtensionRequestError}}</h4>
          {{/if}}
          <label for='reason'>Reason</label>
          <input
            required
            type='text'
            id='reason'
            name='reason'
            data-test-extension-form-reason-input
          />
          <label for='newEndsOn'>New ETA</label>
          <p>Old ETA - {{this.oldETA}}</p>
          <input
            required
            type='datetime-local'
            id='newEndsOn'
            name='newEndsOn'
            {{on 'change' this.changeExtensionRequestETA}}
            data-test-extension-form-newEndsOn-input
          />
          <label for='title'>Title</label>
          <input
            required
            type='text'
            id='title'
            name='title'
            data-test-extension-form-title-input
          />
          <button type='submit'>Create</button>
        </form>
      </div>
    {{else}}
      <div class='extension-form__content' data-test-extension-from-content>
        {{#if this.extensionData.value}}
          <div class='extension-form__content-wrapper'>
            {{#each this.extensionData.value as |extension|}}
              <Task::LatestExtensionInfo @extension={{extension}} />
            {{/each}}
          </div>
        {{else if this.extensionData.isLoading}}
          <div class='task-card__loader-container'>
            <Spinner />
          </div>
        {{else if this.extensionData.error}}
          <h4>{{this.extensionData.error}}</h4>
          <button
            class='extension-form__open-button'
            data-test-create-extension-button
            type='button'
            {{on 'click' this.createNewExtensionRequest}}
          >Create an extension request</button>
        {{/if}}
      </div>
    {{/if}}
    {{#if
      (or
        (eq this.previousExtensionStatus 'APPROVED')
        (eq this.previousExtensionStatus 'DENIED')
      )
    }}
      {{#unless this.createExtensionRequest}}
        <button
          class='extension-form__open-button'
          data-test-create-another-extension type="button" {{on 'click' this.createNewExtensionRequest}}
        >
          Create New Extension
        </button>
      {{/unless}}
    {{/if}}
    <button
      class='extension-form__container-close'
      data-test-extension-form-container-close
      type='button'
      {{on 'click' @closeForm}}
    >
      Close Form
    </button>
  </div>
</div>
