<div class='user-details'>
  <h2 class='user-details__heading' data-test-signup-form-label>
    {{this.label}}
  </h2>
  <div class='user-details__field'>
    {{#if @dev}}
      {{#if (eq @currentStep 'username')}}
        <Input
          @value={{@username}}
          type='text'
          placeholder='Darth'
          data-test-signup-form-input
          disabled
          class='disabled-input'
        />
      {{else}}
        <Input
          @value={{get @signupDetails @currentStep}}
          type='text'
          placeholder='Darth'
          {{on 'input' this.inputFieldChanged}}
          data-test-signup-form-input
        />
      {{/if}}
    {{else}}
      <Input
        @value={{get @signupDetails @currentStep}}
        type='text'
        placeholder='Darth'
        {{on 'input' this.inputFieldChanged}}
        data-test-signup-form-input
      />
    {{/if}}
    {{#if @error}}
      <p class='error'>{{@error}}</p>
    {{/if}}
  </div>

  <div class='signup-action__btn'>
    <Button
      @data-test-btn='signup'
      @onClick={{@onClick}}
      @disabled={{@isButtonDisabled}}
      @isLoading={{@isLoading}}
    >
      {{#if @dev}}
        Next
      {{else}}
        {{if (eq @currentStep 'username') 'Submit' 'Next'}}
      {{/if}}
    </Button>
  </div>
</div>