<article class='card'>
  <header class='card__header'>
    <h2 class='card__title'>{{@title}}</h2>
  </header>
  <div class="card__description--wrapper">
    <p class='card__description'>{{this.formattedDescription}}</p>
  </div>
  <div class='card__actions'>
    {{#if this.hasButton}}
      <button
        type='button'
        class='card__button'
        {{on 'click' this.handleButtonClick}}
      >{{@buttonText}}</button>
    {{/if}}
    {{yield}}
  </div>
</article>