<div class="field">
  <label for={{@for}}>{{@label}}:</label>
  <div class="{{if @buttonupload "field"}}">
<Input
    @id={{@id}}
    @type={{@type}}
    @value={{@value}}
    @placeholder={{@placeholder}}
    @disabled={{@disabled}}
    @class={{if @showError 'input errorBorder' 'input'}}
    {{on 'input' (fn this.inputFieldChanged)}}
  />
  {{#if @buttonupload }}
  <button class="upload" type="submit">update location</button>
  {{/if}}
  </div>

  
  
   {{#if @helpMsg}}
    <em class="help-msg">{{@helpMsg}}</em>
   {{/if}}
  {{#if @showError}}
    <p class="error">{{@errorMessage}}</p>
  {{/if}}
</div>
