<nav class="nav">
  <button type="button" class="hamburger--toggle" {{on "click" this.toggleNav}}>
    <i class="fas fa-bars fa-2x"></i>
  </button>

  <ul class="nav-menu {{if this.isNavOpen " active-nav" "" }}">
    <li class="nav__menu__logo">
      <a href={{this.HOME_PAGE_URL}}>
        <img src="RDSLogo.png" alt="real_dev_squad" height="50px" width="50px" />
      </a>
    </li>
    <li class="nav__menu__home"><a href={{this.HOME_PAGE_URL}}>Home</a></li>
    {{#each this.RDS_APPS_MAPPING as |siteURL|}}
    <li><a href={{siteURL.url}}>{{siteURL.siteName}}</a></li>
    {{/each}}
  </ul>

  <div role="button" class="user" {{on "click" this.toggleMenu}} {{on-click-outside this.outsideClickMenu}}>
    <div class="user__msg">Hello, {{@firstName}}!</div>
    <img class="user__pic" src={{@profilePictureURL}} alt="profile" />
    <i class="fa-solid fa-chevron-down"></i>
  </div>

  <section class="menu {{if this.isMenuOpen " active-menu" "" }}">
    <span class="menu__link">
      <LinkTo @route="index">Home</LinkTo>
    </span>
    <span class="menu__link">
      <LinkTo @route="profile">Profile</LinkTo>
    </span>
    <span class="menu__link">
      <LinkTo @route="tasks">Tasks</LinkTo>
    </span>
    <span class="menu__link">
      <LinkTo @route="notifications">Notifications</LinkTo>
    </span>
    <span class="menu__link">
      <LinkTo @route="identity">Identity</LinkTo>
    </span>
  </section>
</nav>