<section class='profile-field'>
  <label class='profile-field-label' for={{@id}}>{{@label}}</label>
  <div class="profile-field-input-container">
    <img src={{@icon_url}} alt="" role="presentation">
    <input type="text" id={{@id}} class="profile-field-input" placeholder={{@placeholder}} />
    <button type="button" class="profile-field-input-delete">
      <img src="icons/cross.svg" alt="" role="presentation">
    </button>
  </div>
</section>