<div ...attributes class='progress-slider'>
  <input
    aria-label='progress slider for IN-Progress tasks'
    data-test-progress-bar
    class='progress-slider__input-slider'
    id='progress-slider-input'
    type='range'
    value={{this.value}}
    min='0'
    max='100'
    step='10'
    {{on 'click' this.onClick}}
    {{!-- {{on 'change' this.onChange}}
    {{on 'input' this.onInput}} --}}
    {{on 'mousemove' this.handleHover}}
    {{on 'mouseleave' this.onMouseLeave}}
  />
  <div data-test-progress-bar-text class='progress-slider__text'>
    <span class='progress-slider__text-value'>{{this.value}}</span>
  </div>

</div>