<div ...attributes class='progress-slider'>
  <input
    {{focus-when this.isEditable}}
    aria-label='progress slider for IN-Progress tasks'
    data-test-progress-bar
    class='progress-slider__input-slider'
    id='progress-slider-input'
    type='range'
    value={{@value}}
    min='0'
    max='100'
    step='10'
    {{on 'change' this.onChange}}
    {{on 'input' this.onInput}}
  />
  <button
    data-test-progress-bar-button
    class='progress-slider__button
      {{unless this.isEditable "progress-slider__button--hover"}}'
    type='button'
  >
    <span class='progress-slider__button__text'>{{@value}}</span>

  </button>

</div>