<div class='tasks-container'>
  <h2 class='tasks-container__title'>{{@userSelectedTask.displayLabel}}
    Tasks</h2>
  {{#if @dev}}
    {{#if @noInProgressTask}}
      <div class='fetch-task' data-test-fetchSection>
        <p>You have no task in progress! click below to fetch tasks</p>
        <Button
          @onClick={{@handleAssignment}}
          @disabled={{@disabled}}
          @isLoading={{@findingTask}}
        >
          {{if @findingTask 'Fetching task' 'Fetch Task'}}
        </Button>
      </div>
    {{/if}}
  {{/if}}
  {{#if @tasksToShow.length}}
    {{#each @tasksToShow as |task|}}
      <div>
        <Task::Holder
          @task={{task}}
          @onTaskChange={{@onTaskChange}}
          @onStausChange={{this.onStatusChange}}
          @onTaskUpdate={{@onTaskUpdate}}
          @userSelectedTask={{@userSelectedTask}}
          @disabled={{@disabled}}
        />
      </div>
    {{/each}}
  {{else}}
    <div class='tasks-container__no-tasks-found'>No tasks found!</div>
  {{/if}}
</div>