{{#if @isStatusUpdating}}
  <div class="loading">
    <Spinner />
  </div>
{{else}}
<div class="heading">
  {{#each this.currentUserStatus as |currentStatus|}}
  {{#if (eq @status currentStatus.status)}}
    {{#if (eq currentStatus.status "ONBOARDING")}}
      <div data-test-onboarding-details class="onboarding-details">
        <h2 data-test-status>You are undergoing onboarding</h2>
        <p data-test-details>
          If you are a developer, please complete your submission for Lift Simulation
          <a href="https://github.com/Real-Dev-Squad/lift-simulation">(link to GitHub)</a>, 
          and ask for doubts in the team chat on Discord.
        </p>
        <p data-test-details>If you are not a developer, please contact Ankush for next steps.</p>
        <button class="buttons__active" type="button"  {disabled={{@isStatusUpdating}} {{on "click" (fn
          this.changeStatus "ACTIVE" )}} data-test-active-button>
          <span>Change your status to Active</span>
        </button>
      </div>
    {{/if}}
    <h2 data-test-status>{{currentStatus.message}}</h2>
  {{/if}}
  {{/each}}
</div>

<div class="buttons">
  {{#each this.currentUserStatus as |currentStatus|}}
    {{#if (eq @status currentStatus.status)}}
      {{#each currentStatus.otherAvailableStatus as |otherPossibleStatus|}}
        <button class={{otherPossibleStatus.class}} type="button" disabled={{@isStatusUpdating}} {{on "click" (fn this.changeStatus otherPossibleStatus.status )}}>
          <span>{{otherPossibleStatus.message}}</span>
        </button>
      {{/each}}
    {{/if}}
  {{/each}}
</div>
{{/if}}
