{{#if @showUserStateModal}}
<div class="overlay">
  <div class="modal" data-test-modal>
    <div class="modal__inputs">
      {{#if (eq @newStatus this.USER_STATES.OOO)}}      
      <label class="modal__inputs--description" data-test-label-from>From</label>
      <Input name='fromDate' type='date' min={{this.disableDatesPrior}} value={{this.fromDate}} {{on "change"
        this.updateValue}} data-test-date-picker-from />
      <label class="modal__inputs--description" data-test-label-until>Until</label>
      <Input name='untilDate' type='date' min={{if this.fromDate this.fromDate this.disableDatesPrior}}
        value={{this.untilDate}} {{on "change" this.updateValue}} data-test-date-picker-until />
      <label class="modal__inputs--description" data-test-label-reason>Reason</label>
      {{else if (eq @newStatus this.USER_STATES.IDLE)}}
      <label class="modal__inputs--description" data-test-label-missing-skills>
        Can't update the status to ACTIVE as you have no IN_PROGRESS task or any task ASSIGNED! 
        Please write the skills are you willing to learn?
      </label>
      {{/if}}

      <textarea name='reason' class="modal__text-area" value={{this.reason}} {{on "input" this.handleInput}}
        data-test-textarea-reason></textarea>

    </div>
    <button disabled={{this.disableSubmitButton}} type="button" class={{if
      this.disableSubmitButton "modal__submit--disabled" "modal__submit" }} {{on "click" this.getCurrentStatusObj}}
      data-test-submit-button>
      Submit
    </button>
    <button type="button" class="modal__close" {{on "click" this.onCancelModal}} data-test-cancel-button>
      Cancel
    </button>
  </div>
</div>
{{/if}}