{{#if @isStatusUpdating}}
  <div class="loading">
    <Spinner />
  </div>
{{else}}
<div class="heading">
  {{#each this.currentUserStatus as |currentStatus|}}
    {{#if (eq @status currentStatus.status)}}
      <h2 data-test-status>{{currentStatus.message}}</h2>
    {{/if}}
  {{/each}}
</div>

<div class="buttons">
  {{#each this.currentUserStatus as |currentStatus|}}
    {{#if (eq @status currentStatus.status)}}
      {{#each currentStatus.otherAvailableStatus as |otherPossibleStatus|}}
        <button class={{otherPossibleStatus.class}} type="button" disabled={{@isStatusUpdating}} {{on "click" (fn this.changeStatus otherPossibleStatus.status )}}>
          <span>{{otherPossibleStatus.message}}</span>
        </button>
      {{/each}}
    {{/if}}
  {{/each}}
</div>
{{/if}}
