<div class="user-details">
  <h2 class="user-details__heading" data-test-signup-form-label>
    {{this.labels.heading}}
  </h2>
  <div class="user-details__field">
    <Input @value={{get @userDetails @currentStep}} type="text" placeholder={{this.labels.placeholder}} {{on 'input' this.inputFieldChanged}} data-test-signup-form-input/>
  </div>

  <div class="signup-action__btn">
    <NewSignUp::Button
      @clickHandler={{@handleRouteParamsChange}}
      @disabled={{@isButtonDisabled}}
      @isSubmitClicked={{@isSubmitClicked}}
    >
      {{this.buttonLabels.next}}
    </NewSignUp::Button>
  </div>
</div>
