<div class="user-details">
  <h2 class="user-details__heading" data-test-signup-form-label>
    {{this.label}}
  </h2>
  <div class="user-details__field">
    <Input @value={{get @userDetails @currentStep}} type="text" placeholder="Darth" {{on 'input' this.inputFieldChanged}} data-test-signup-form-input/>
  </div>

  <div class="signup-action__btn">
    <NewSignUp::Button
      @clickHandler={{@handleRouteParamsChange}}
      @disabled={{@isButtonDisabled}}
      @isSubmitClicked={{@isSubmitClicked}}
    >
      Next
    </NewSignUp::Button>
  </div>
</div>
