{{page-title 'Discord'}}

<section class='discord vertical-flex mx-auto' id='discord'>
  {{#if @model.isTokenExpired}}
    <p class='error__text'>Token Expired. Please generate a new token using
      slash commands</p>
  {{else}}
    {{#if (or this.isLinking)}}
      <div class='loading'>
        <Spinner />
      </div>
    {{else}}
      {{#if (or @model.userData.discordId (eq this.linkStatus 'linked'))}}
        <div class='discord__success'>
          <p class='success__text'>Your Discord account has been successfully
            linked.</p>
          <p class='success__text'>You can close this tab now.</p>
        </div>
      {{else if (eq this.linkStatus 'failure')}}
        <div class='discord__error'>
          <p class='error__text'>Something went wrong. Please try again.</p>
        </div>
      {{else if (eq this.linkStatus 'not-linked')}}
        <header class='header horizontal-flex w-100'>
          <img src='RDSLogo.png' alt='real_dev_squad' class='logo' />
          <div class='line w-100'></div>
          <img src='DiscordLogo.png' alt='discord' class='logo' />
        </header>

        <h2 class='heading'>Authorize Bot</h2>

        <main class='discord-card vertical-flex w-100'>

          <p class='my-same'><strong>Real Dev Squad</strong>
            wants to access your
            <strong>Discord</strong>.</p>

          <hr class='w-100 dark mx-auto' />

          <div class='profiles horizontal-flex w-100'>
            <div class='profile-card vertical-flex'>
              <img
                class='logo'
                src={{if
                  @model.externalAccountData.attributes.userAvatar
                  @model.externalAccountData.attributes.userAvatar
                  'dummyProfilePicture.png'
                }}
                alt='Discord Avatar'
              />
              <p class='username'>
                {{@model.externalAccountData.attributes.userName}}#{{@model.externalAccountData.attributes.discriminator}}</p>
              <p class='account'>Discord</p>
            </div>

            <img src='DiscordConnector.svg' class='logo' alt='connectingline' />

            <div class='profile-card vertical-flex my-same'>
              <img
                class='logo'
                src={{if
                  @model.userData.picture.url
                  @model.userData.picture.url
                  'dummyProfilePicture.png'
                }}
                alt='Real Dev Squad Avatar'
              />
              <p class='username'>{{@model.userData.username}}</p>
              <p class='account'>Real Dev Squad</p>
            </div>
          </div>

          <hr class='w-100 dark mx-auto' />

          <div class='TnC w-100 my-same'>
            <p>By authorizing us you allow us to:</p>
            <ul class='mx-auto'>
              <li>Change your name within our server.</li>
              <li>Read/process your messages.</li>
            </ul>
          </div>

          <hr class='w-100 dark mx-auto' />

          <div class='my-same'>
            <input
              name='authorize'
              id='authorize'
              type='checkbox'
              {{on 'input' (fn this.setConsent)}}
            />
            <label for='authorize'>I Accept the above mentioned clauses</label>
          </div>
          <button
            type='button'
            class='button my-same
              {{if this.consent "btn-enabled" "btn-disabled"}}'
            {{on 'click' (fn this.linkDiscordAccount)}}
          >Authorize</button>
        </main>
      {{/if}}
    {{/if}}
  {{/if}}
</section>