<div class="greeting">
  <h1>Welcome to my site!</h1>
</div>

<SelfClearCache 
  @time={{@model.cache.count}} 
  @totalTimes={{@model.cache.count}} 
  @onClearCache={{this.purgeCache}} 
  @isPurgingCache={{this.isPurgingCache}}
/>

<UserStatus 
  @status={{@model.user.status}} 
  @onUpdateStatus={{this.updateStatus}} 
  @isStatusUpdating={{this.isStatusUpdating}}
/>
