<div class="greeting">
  <h1>Welcome to my site!</h1>
</div>

<SelfClearCache 
  @time={{this.timestamp}} 
  @totalTimes={{this.cacheCount}} 
  @onClearCache={{this.purgeCache}} 
  @isPurgingCache={{this.isPurgingCache}}
/>

<UserStatus 
  @status={{this.status}} 
  @onUpdateStatus={{this.updateStatus}} 
  @isStatusUpdating={{this.isStatusUpdating}}
/>
