<div class='greeting'>
  <h1>Welcome to my site!</h1>
</div>
<SelfClearCache
  @totalTimes={{this.cacheTriggeredPending}}
  @onClearCache={{this.purgeCache}}
  @isPurgingCache={{this.isPurgingCache}}
  @dev={{this.isDevMode}}
/>
<UserStatus
  @status={{this.status}}
  @changeStatus={{this.changeStatus}}
  @isStatusUpdating={{this.isStatusUpdating}}
  @updateStatus={{this.updateStatus}}
/>
<UserStatusModal
  @isStatusUpdating={{this.isStatusUpdating}}
  @newStatus={{this.newStatus}}
  @showUserStateModal={{this.showUserStateModal}}
  @toggleUserStateModal={{this.toggleUserStateModal}}
  @updateStatus={{this.updateStatus}}
/>