{{page-title 'Profile'}}

<form class='form profile-form'>
  <h1>{{this.title}}</h1>
  {{!-- <img class='user__pic' src={{@model.profilePictureURL}} alt='profile' /> --}}
  <div class='profile-form-grid'>

    {{#each this.fields as |field|}}
      <FormInput
        @class='input-field'
        @id={{field.id}}
        @for={{field.for}}
        @label={{field.label}}
        @type={{field.type}}
        @value={{get @modelfield.id}}
        @placeholder={{field.placeholder}}
        @showError={{field.showError}}
        @helpMsg={{field.helpMsg}}
        @onChange={{this.handleFieldChange}}
        @validator={{field.validator}}
        @disabled={{field.disabled}}
      />
    {{/each}}
  </div>

</form>

<div class='image-upload-container'>
  <h1>
    Upload Image
  </h1>
  <p>( Max size 2MB )</p>
  <UploadImage
    @uploadUrl={{this.imageUploadUrl}}
    @formKeyName={{this.formDataKeyName}}
  />
</div>