{{page-title 'Profile'}}

<div class="profile-container">
  <form class="profile-form">
    <div class='picture_container'>
      {{#if @model.picture.url}}
      <img class='user__pic' src={{@model.picture.url}} alt='user profile ' />
      {{else}}
      <img class='user__pic' src={{'dummyProfilePicture.png'}} alt='user profile ' />
      {{/if}}
      <Button @onClick={{this.handleShowEditProfilePictureModal}} @class='edit-btn btn' @data-test-btn='edit'>
        Update Picture
      </Button>
    </div>
    <div class='profile-form-grid'>
      {{#each this.fields as |field|}}
        <ProfileField 
          @id={{field.id}} 
          @type={{field.type}}
          @value={{get @model field.id}}
          @placeholder={{field.placeholder}} 
          @label={{field.label}}
          @icon_url={{field.icon_url}} 
          @errorMessage={{field.errorMessage}}
          @showError={{field.showError}}
          @required={{field.required}}
          @validator={{field.validator}}
          @onChange={{this.handleFieldChange}}
          @onBlur={{this.handleFieldValidation}}
        />
      {{/each}}
    </div>
    <button type="submit" class="profile-form-submit">Submit</button>
  </form>
</div>

{{#if this.showEditProfilePictureModal}}
  <div class='model_background'>
    <section
      data-test-modal='image-upload'
      class='image-upload-modal'
      {{on-click-outside this.closeModal}}
    >
      <button class='modal__close' type='button' {{on 'click' this.closeModal}}>
        <FaIcon @icon='xmark' @size='2x' />
      </button>
      <UploadImage
        @uploadUrl={{this.imageUploadUrl}}
        @formKeyName={{this.formDataKeyName}}
        @outsideClickModel={{this.closeModal}}
      />
    </section>
  </div>
{{/if}}